---
import Profile from "./Profile.astro";
import RecentPost from "./RecentPost.astro";
import Tag from "./Tags.astro";
import Categories from "./Categories.astro";
import TOC from "./TOC.astro";

const className = Astro.props.class;
const toc = Astro.props.toc;
---
<div id="sidebar" class:list={[className, "w-full"]}>
    <div class="flex flex-col w-full gap-4 mb-4" transition:animate="none" transition:persist>
        <Profile></Profile>
    </div>
    <div class="flex flex-col w-full gap-4 top-4 sticky top-4" transition:animate="fade">
        {toc && <TOC toc={toc}></TOC>}
        {!toc && <Categories></Categories>}
        <!--<RecentPost></RecentPost>-->
        {!toc && <Tag></Tag>}
    </div>
</div>

<style>
</style>
